@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "bumblebee";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(70% 0.14 182.503);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(79% 0.184 86.047);
  --color-secondary-content: oklch(98% 0.026 102.212);
  --color-accent: oklch(76% 0.188 70.08);
  --color-accent-content: oklch(98% 0.022 95.277);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}